/*
colors used
text color (darkgray): #2b2b2b;
button primary Color (purple): #357b70;
button text color: #ffffff;
secondary color (orange): #e0b354;
button__secondary background-color: #e0b354;
a:visited color: #05676e;
a:active color: #489c79;
*/
:root {
  --nav-color: #36b628;
  --primary-color: #ffa500;
  --secondary-color: #e0b354;
  --text-color: #2b2b2b;
  --button-text-colour: white;
  --primary-background-color: black;
  --secondary-background-color: #e8ffff;
  --font-family: 'open Sans', sans-serif;
  --font-size: 16px;
  --font-weight: 400px;
  --h1-size: 30px;
  --h1-weight: 700px;
  --h2-size: 24px;
  --h2-weight: 700;
  --h3-size: 18px;
  --h3-weight: 700px;
  --a-color: #533419;
  --a-visited: #05676e;
  --nav-active: black;
  --a-active: black;
  --a-hover: #6a0dad;
  --thead-color: #9a60ff;
  --td-color: white;
  --media-font: 12px;
  --media-h1: 22px;
}

* {
  box-sizing: border-box;
}

html body {
  /* primary color and font for the body */
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Inconsolata', monospace;
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  background-color: var(--primary-background-color);
  line-height: 1.6;
}

h1 {
  font-size: var(--h1-size);
  font-weight: var(--h1-weight);
}

h2 {
  font-size: var(--h2-size);
  font-weight: var(--h2-weight);
}

h3 {
  font-size: var(--h3-size);
  font-weight: var(--h3-weight);
}

a {
  color: var(--a-color);
  text-decoration: underline;
}

a:visited {
  color: var(--nav-active);
}

a:hover,
:focus {
  color: var(--a-hover);
  text-decoration: none;
  transition: 0.8s;
}

a:active {
  color: var(--a-visited);
  text-decoration: none;
}

button,
.button {
  /* button including transition properties - applied to all primary buttons */
  border: none;
  display: inline-block;
  font-family: inherit;
  color: var(--button-text-color);
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: 0.2s opacity;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  /* effect applied to all buttons */
  cursor: pointer;
  opacity: 0.8;
}

.button__secondary {
  background-color: var(--secondary-color);
  color: var(--text-color);
}


.page-header {
  z-index: 1;
}

.nav-link{
align-content: center;
color: white;
font-size: 18px;
}

.page-header__item {
  flex: 0 1 200px;
}


.logo-text {
  padding-left: 0;
  font-size: 25px;
  color: black;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(11, 110, 253)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: rgb(11, 110, 253);
} 

.nav-item {
  margin-left: 8px;
  color: blue;
}

.navbar {
  padding: 10px 15px;
}


.a-link {
  text-decoration: none;
}


/* footer styles */

main {
  /* header and footer padding */
  padding-top: 100px;
  padding-bottom: 0;
}

.footer {
  margin-bottom: 0;
  border-top: 1px solid white;
}

/* end of footer styling */

/* navbar styling */

.nav-link:active{
  border-radius: 5px;
  box-shadow: 0px 0px 1px 1px white;
}

/* end of navbar styling */

.home-info-container {
  margin-top: 200px;
}

.profile__portrait {
  /* profile picture float to the left and text to the right */
  float: left;
  width: 100%;
  max-width: 300px;
  height: auto;
  margin-right: 50px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 10px rgb(11, 110, 253, 0.5);
}

.profile {
  /* profile on the home page including the profile picture and short introductory text */
  max-width: 550px;
  height: 100%;
  margin: auto;
  padding-bottom: 15px;
  font-size: 18px;
}

.profile {
  color: white;
}

/* beginning of styles for the about me page */

.introduction {
  /* introductory text - about me page */
  width: 850px;
  margin: auto;
  margin-top: 60px;
  padding-bottom: 40px;
  color: white;
}

/* beginning of skills styles */

.skills-bar-container {
  position: relative;
  width: 45%;
  min-width: 300px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  list-style: none;
  padding: 0;
  margin-top: 150px;
  margin-bottom: 0;
}
.skills-bar-container li {
  position: relative;
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}
.skills-bar-container li .progressbar-title {
  color: #fff;
}
.skills-bar-container li .progressbar-title h3 {
  display: inline-block;
}
.skills-bar-container li .progressbar-title .percent {
  position: absolute;
  right: 5px;
}
.skills-bar-container li .bar-container {
  background: #555;
  position: relative;
  width: 100%;
  height: 5px;
  margin-top: 5px;
  display: block;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}
.skills-bar-container li .bar-container .progressbar {
  position: absolute;
  width: 0%;
  height: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.skills-bar-container li .bar-container #progress-html {
  -webkit-animation-name: progress-html;
  animation-name: progress-html;
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}
.skills-bar-container li .bar-container #progress-css {
  -webkit-animation-name: progress-css;
  animation-name: progress-css;
  -webkit-animation-delay: 1.4s;
  animation-delay: 1.4s;
}
.skills-bar-container li .bar-container #progress-javascript {
  -webkit-animation-name: progress-javascript;
  animation-name: progress-javascript;
  -webkit-animation-delay: 2.1s;
  animation-delay: 2.1s;
}
.skills-bar-container li .bar-container #progress-react {
  -webkit-animation-name: progress-react;
  animation-name: progress-react;
  -webkit-animation-delay: 2.8s;
  animation-delay: 2.8s;
}
.skills-bar-container li .bar-container #progress-angular {
  -webkit-animation-name: progress-angular;
  animation-name: progress-angular;
  -webkit-animation-delay: 3.5s;
  animation-delay: 3.5s;
}
.progressred {
  background-color: #c0392b;
}
.progressblue {
  background-color: #1199ff;
}
.progresspurple {
  background-color: #9b59b6;
}
.progressorange {
  background-color: #ffa500;
}
.progressgreen {
  background-color: #27ae60;
}
@-webkit-keyframes progress-html {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}
@-webkit-keyframes progress-css {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}
@-webkit-keyframes progress-javascript {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}
@-webkit-keyframes progress-react {
  0% {
    width: 0%;
  }
  100% {
    width: 65%;
  }
}
@-webkit-keyframes progress-angular {
  0% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
}
@-moz-keyframes progress-html {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}
@-moz-keyframes progress-css {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}
@-moz-keyframes progress-javascript {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}
@-moz-keyframes progress-react {
  0% {
    width: 0%;
  }
  100% {
    width: 65%;
  }
}
@-moz-keyframes progress-angular {
  0% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
}
@keyframes progress-html {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}
@keyframes progress-css {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}
@keyframes progress-javascript {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}
@keyframes progress-react {
  0% {
    width: 0%;
  }
  100% {
    width: 65%;
  }
}
@keyframes progress-angular {
  0% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
} /* end of skills styles */

.download-cv {
  /* introduction text - about me page */
  display: flex;
  justify-content: center;
  margin-left: 400px;
  padding-top: 0%;
}

.a-download-cv {
  text-decoration: none;
}

.display-image {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

/* end of about me page styles (media queries below) */

.contact-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 700px;
  min-height: 100%;
  margin: 50px auto;
  padding: 10%;
  color: black;
  background-color: white;
  border-radius: 5px;
}

/* projects page styling */

/* start grid fallback */
.projects-heading {
  background-color: black;
  margin: 5px auto;
  text-align: center;
  color: white;
  
}

.projects-heading h1 {
  font-size: 40px;
  font-weight: 900;
  text-decoration: underline solid #0b6efd;
  margin-bottom: 2px;
}

.project-list__item {
  display: inline-block;
  width: 33%;
}

.project-list__item p {
 margin-top: 5px;
}

.project-list__img {
  margin: 8px 50px;
}

.m-project-list__img {
  margin: 8px 100px;
}

.project-list__item a {
  color: white;
}

.tool-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.tool-list li {
  border-bottom: 2px solid #000000;
  margin-top: 4px;
  margin-right: 15px;
  list-style: none;
}

.project-list__btn {
  display: flex;
  justify-content: center;
  direction: row;
  margin: 10px
}

.project-list__btn a {
  margin-right: 10px;
}


/* end grid fallback */

/* #### START OF Project List styling #### */
@supports (display: grid) {
  .project-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    margin: 15px 10px;
  }

  .project-list__item {
    background-color: #fff;
    padding: 20px;
    width: auto;
    min-height: auto;
    margin: 0;
  }
}


@media all and (max-width: 750px) {
  /* shared code */
  .project-list {
    grid-gap: 5px;
    margin: 8px;
  }

  .projects-heading {
    margin-left: 10px;
    text-align: left;
  }

  .project-list__img {
    margin-bottom: 8px;
  }

  .m-project-list__img {
    margin-bottom: 8px;
  }
}

@media all and (max-width: 500px) {
  .project-list {
    grid-template-columns: 1fr;
    margin: 5px;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .project-list {
    grid-template-columns: 1fr 1fr;
    margin: 8px;
  }
}

/* projects page styling live above this line */

@media all and (min-width: 0) and (max-width: 760px) {
  /* reduce intro text on font size on about page to 12px on smaller screens */

  h1 {
    font-size: var(--media-h1);
  }
}

@media all and (min-width: 0) and (max-width: 760px) {
  /* rules for Home page - profile pic and profile text */
  .profile__portrait {
    width: 230px;
    margin: auto auto 30px;
    border-radius: 50%;
    text-align: center;
  }

  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto auto;
    font-size: 18px;
  }

  h1 {
    font-size: var(--media-h1);
  }

  .berlin-illustration {
    width: 400px;
    height: 400px;
    margin-bottom: 80px;
  }
}

@media all and (max-width: 760px) {
  .profile {
    text-align: center;
  }

  h1 {
    font-size: var(--media-h1);
  }
}


@media screen and (min-width: 0) and (max-width: 700px) {
  .contact-page {
    height: 100%;
    width: 100%;
    margin-top: 120px;
    margin-bottom: 100px;
    margin-left: 10px;
    margin-right: 10px;
    top: 50px;
    text-align: center;
    font-size: var(--media-font);
  }

  h1 {
    font-size: var(--media-h1);
  }
}

@media screen and (min-width: 0) and (max-width: 760px) {

  .logo-text {  
    font-size: 18px;
  }

  .intro-text {
    display: flex;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    flex-direction: column;
  }

  .intro-text-h1 {
    font-size: 28px;
    font-weight: 700;
    text-align: center;
  }

  .progressbar-title h3 {
    font-size: 16px;
  }
}

@media screen and (min-width: 760px) and (max-width: 1400px) {

  .profile__portrait {
  /* profile picture float to the left and text to the right */
    float: left;
    width: 100%;
    height: auto;
    margin-right: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 10px rgb(11, 110, 253, 0.5);
  }

  .card {
    text-align: center;
    height: 600px;
    width: 400px; 
    margin: 2px;
    border-radius: 2px;
  }

  .download-cv {
    /* introduction text - about me page */
    display: flex;
    justify-content: center;
    margin-left: 300px;
  }
}


@media screen and (min-width: 760px) and (max-width: 1000px) {

  .progressbar-title h3 {
    font-size: 18px;
  }

  .projects-heading {
    margin-left: 10px;
    text-align: left;
  }

  .download-cv {
    /* introduction text - about me page */
    display: flex;
    justify-content: center;
    margin-left: 250px;
  }

}

@media screen and (min-width: 512px) and (max-width: 760px) {

  .introduction {
    /* introductory text - about me page */
    width: 600px;
    margin: auto;
    padding-bottom: 40px;
    color: white;
  }

  .download-cv {
    /* introduction text - about me page */
    display: flex;
    justify-content: center;
    margin-left: 200px;
  }
}
 
@media screen and (min-width: 0) and (max-width: 512px) {

  .introduction {
    /* introductory text - about me page */
    width: 300px;
  }

  .home-info-container {
    margin-top: 140px;
  }

  .download-cv {
    /* introduction text - about me page */
    display: flex;
    justify-content: center;
    margin-left: 100px;
  }
}